h1 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #C14953;
    border-radius: 10px;
    text-align: center;
  }
  li{
    margin-top: 10px;
      list-style-type: "\1F44D";
      list-style-position:inside;
      text-align: center;
      font-size: x-large;
      background-color: #848FA5;
      margin-left:auto;
      margin-right: auto;
      width: 40%;
      border-radius: 20px;     
  }
  .textochave{
    font-family: initial;
      font-size:xx-large;
      font-weight: 1200;
  }
  .descriçao{
    font-style: italic;
    text-align: center;   
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 80px;
    border: 5px solid #848FA5;
  }
  body{
    color: #2D2D2A;
        font-family: monospace; 
    font-weight: bold;
    background-color:#E5DCC5;
}
.habildades {
  background-color: #C14953;
  font-size: x-large;
  text-align: center;
}
#Unity{
  font-size: xxx-large;
}